// WIDGET GLOBAL THEME STYLES

// EXAMPLE, you can remove this styles
.btn {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-radius: 50px;
  font-size: 14px;
  padding: 0.50rem 1.25rem;
}

.btn-lg {
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-primary {
  color: #fff;
  // background-color: $blue;
  background: linear-gradient(167.43deg, #6B87BD 9.17%, #3B5A8D 96.28%);
  border-color: $blue;
}

.btn-outline-primary {
  color: $blue;
  border-color: $blue;
}


.btn-outline-success {
	color: $brand-invex;
	border-color: $brand-invex;
    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: $brand-invex;
        border-color: $brand-invex;
    }
}

.form-control {
  height: 40px;
  border:1px solid #CCCCCC;
}

.form-group {
  select {
      color:$grey-2;
      border-color: #CCCCCC;
      font-size: 14px;
      border-radius: 8px;
  }
}