@import "./variables";
@import "~bootstrap";
@import "./theme";


.wrapper-widget {
    /* border:1px solid orange;
    height: 500px;
    background-image: url(../assets/vista-operaciones.jpg); */
    background-repeat: no-repeat;
    background-position: top center;
}

.box-rfs {
    background-color: #F6F6F6;
    height: 125px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.box-btn {
    margin: 30px 0;
}